* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@font-face {
  font-family: 'urban';
  src: url("../assets/fonts/Urban TRIBE.ttf") format("truetype"); }

header .navi-1 .-container-fluid a {
  background-color: red; }
  header .navi-1 .-container-fluid a:hover {
    text-decoration: underline; }

footer {
  background-color: black; }

h1, .container .cont .col .card .card-body a {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: white;
  background-image: url(../); }

.container .cont .col .card .card-body a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif; }
  .container .cont .col .card .card-body a:hover {
    text-decoration: underline;
    color: black; }

.container .cont-1 .col .card img:hover {
  transform: scale(1.2, 1.2); }
