* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@font-face {
  font-family: 'urban';
  src: url("../assets/fonts/Urban TRIBE.ttf") format("truetype"); }

footer .fot-1 fot-2 a {
  display: flex;
  justify-content: center; }

h1 {
  text-align: center;
  color: black;
  font-weight: bold; }

.no-index {
  font-family: 'Roboto', sans-serif; }

body {
  background-color: white; }

.container .cont .col .card .card-body a {
  text-decoration: none;
  display: flex;
  justify-content: center; }
  .container .cont .col .card .card-body a:hover {
    text-decoration: underline;
    color: black; }

.container .cont-1 .col .card img:hover {
  transform: scale(1.2, 1.2); }
