@import "../utilities/variables";
footer{
    ul{
        margin: 0px 20px;
        text-align: center;
        overflow: hidden;
        list-style: none;
        li{
            text-decoration: none;
	        display: inline-block;
            a{
                display: inline-block;
                font-size: 25px;
                color: color_primario;
                text-decoration: none;
                padding: 50px 70px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}