$color_primario: #FF5C00;

body{
    font-weight: bold;
    background-image: linear-gradient(to right top, #ffffff, #cacaca, #979797, #676767, #3b3b3b, #3a393e, #3b3640, #3d3341, #555c7b, #558eb5, #44c4df, #5ffbf1);    overflow-x: hidden;
}
h1{
    font-family: urban;
    color: color_primario;
    text-align: center;
}
h2{
    color: color_primario;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    gap: 10px;
    .item{
        a{
            display: flex;
            justify-content: center;
            color: color_primario;
            text-align: center;
            text-decoration: none;
        }
        img{
            height:350px;
            width: 350px;
            vertical-align: top;
            justify-content: center;
            &:hover{
                transform: scale(1.2, 1.2);
            }
        }
    }
}